@charset "UTF-8";


*{
	margin: 0;
	padding: 0;
}

/*유인물 1~4번 항목 설정*/

 body{
 	font-family: "Roboto Condensed", "Noto Sans KR",sans-serif;
 	color: #fff;
 	font-size: 14px;
 	background-color:#4f0600;
 }
 
 .top-bar-outer{
 background-color:white;
 }
 
 .none{
  display:none;
 }
 .top-bar{
 max-width: 800px;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
 }
 
 .hide{
 display: none}